/* @override 
	http://cafeteriaman.com/sites/all/themes/cafemanblack/css/cafemanblack.css?p
	http://cafeteriaman.com/sites/all/themes/cafemanblack/css/cafemanblack.css?f
	http://cafeteriaman.com/sites/all/themes/cafemanblack/css/cafemanblack.css?4
	http://cafeteriaman.com/sites/all/themes/cafemanblack/css/cafemanblack.css?5
*/

/* $Id: pages.css,v 3.0 2011/02/28 03:04:00 bjornmeansbear Exp $ */

/**
 * @file
 * Page Styling
 */

/* The Page GRID */
/*
 1 column { width:   65px; }
 2 column { width:  150px; }
 3 column { width:  235px; }
 4 column { width:  320px; }
 5 column { width:  405px; }
 6 column { width:  490px; }
 7 column { width:  575px; }
 8 column { width:  660px; }
 9 column { width:  745px; }
10 column { width:  830px; }
11 column { width:  915px; }
12 column { width: 1000px; }
*/

/* TYPOGRAPHY
---------------------------------------------------------------------- */
/* @font-face and other typography */
/* bryant */
@font-face {
    font-family: 'BryantBold';
    src: url('ff/bryant_bold-webfont.eot');
    src: url('ff/bryant_bold-webfont.eot?iefix') format('eot'), url('ff/bryant_bold-webfont.woff') format('woff'), url('ff/bryant_bold-webfont.ttf') format('truetype'), url('ff/bryant_bold-webfont.svg#webfontcWCITtll') format('svg');
    font-weight: normal;
    font-style: normal;
	}
/* united */
@font-face {
  font-family: 'UnitedItalicCondBold';
  src: url('ff/uniteditaliccdbd-webfont.eot');
  src: url('ff/uniteditaliccdbd-webfont.eot?iefix') format('eot'), url('ff/uniteditaliccdbd-webfont.woff') format('woff'), url('ff/uniteditaliccdbd-webfont.ttf') format('truetype'), url('ff/uniteditaliccdbd-webfont.svg#webfontrnGFj3dv') format('svg');
  font-weight: normal;
  font-style: normal;
  }
/* typeface assignment */    
p.bryant, 
#primary ul li.expanded > a,
#content h1.title {
  font-family: 'BryantBold', helvetica, arial, sans-serif;
  font-weight: normal;
  }
p.united,
div.views-field-field-edt-value,
div.node.node-type-event div.field-type-date {
  font-family: 'UnitedItalicCondBold', Helvetica, Arial, Sans-Serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  }
  
#content h1.title {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;  
  }

/* type colors */
.lightyellow { color: #FBFBDA /*rgb(251,251,218)*/; }
.red { color: #E7002D; }
.gray { color:  #808080; }
/* type sizes, etc */
.allcaps { text-transform: uppercase; }
.big { font-size: 133%; margin:0; }
.small { line-height: 133%;margin:5px 0 0 0; }
/**/
#content-area a { color: #FBFBDA; text-decoration: none; }
#content-area a:hover, #content-area a:focus { color: black; background: #FBFBDA; }
.not-front h1.title { color: #FBFBDA; }

/* BODY
---------------------------------------------------------------------- */
* { z-index: 1; }
body { background: black; color: white; margin: 0; padding: 0; }
body.not-front { background: black url(i/normalBG.png) center -55px no-repeat; }  
#page-wrapper { padding-bottom: 50px; }
#page { }

/* HEADER
---------------------------------------------------------------------- */
#header { }
#header .section { }
#logo {
  background: rgb(237,28,36);
  display: block;
  margin: 0;
  min-width: 471px;
  width: 100%;
  padding: 10px 20px 10px 10px;
  text-align: right;
  /**/
  position: absolute;
  top: 50px;
  right: 50%;
  z-index: 2;
  }
h1#site-name, div#site-name {
  color: white;
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
  /**/
  display:none;
  }
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
  }
#site-name a:hover, #site-name a:focus { text-decoration: underline; }

/* MAIN (container for everything else)
---------------------------------------------------------------------- */
#main-wrapper { }
#main { }
/* Content */
#content { }
#content .section { padding: 15px 25px 40px 25px; }
.not-front #content .section { margin: 0 20px; background: black; min-height: 300px;}
#content-area { }
#content h1.title { margin-bottom: 10px; }
/* First sidebar (on left) */
.region-sidebar-first { }
.region-sidebar-first .section { }
/* Second sidebar (on right) */
.region-sidebar-second { }
.region-sidebar-second .section { }

/* Footer
---------------------------------------------------------------------- */
#footer { font-size: 75%; text-align: center; margin-top: 20px; }
#footer .section { }
#footer #block-menu-menu-socialnetwork { margin: -10px 0 10px 0; text-align: left; }
#footer #block-menu-menu-socialnetwork h2.title {
  color: #808080;
  font-family: 'BryantBold', helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0 0 2px 0; 
  text-align: left;
  text-transform: uppercase;
  }
#footer #block-menu-menu-socialnetwork ul.menu { margin: 0; padding: 0; }
#footer #block-menu-menu-socialnetwork ul.menu li { display: inline-block; text-align: left; margin: 0; padding: 0; }
#footer #block-menu-menu-socialnetwork ul.menu li a {
	display: inline-block;
	height: 80px;
	overflow: hidden;
	text-indent: -99999px;
	width: 80px;
	}
#footer #block-menu-menu-socialnetwork ul.menu li.first a { background: url(i/fb.png) center center no-repeat; }
#footer #block-menu-menu-socialnetwork ul.menu li.last a { background: url(i/twitter.png) center center no-repeat; }
#footer .block, #footer p { margin: 0; }
#footer #block-block-5 {
	text-transform: uppercase;
	}
#footer p.bryant.big {
	border-top: 1px solid #FBFBDA;
	padding-top: 10px;
	}
#footer p.bryant.small {
	border-bottom: 1px solid #FBFBDA;
	margin-bottom: 12px;
	padding-bottom: 12px;
	}
#footer {
  color:  #808080; 
  } 
#footer #block-menu-primary-links { margin: 0; padding: 0; }
#footer #block-menu-primary-links h2.title { display: none; }
#footer #block-menu-primary-links ul.menu li a {
  color:  #808080; 
  text-decoration: none;
  }
#footer #block-menu-primary-links ul.menu li.expanded > a {
  color: #A0A0A0;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  }
#footer #block-block-12 {
	position: fixed;
	top: 20px;
	right: 0;
	text-align: left;
	}
#footer #block-block-12 .content .fb,
#footer #block-block-12 .content .twit {
	margin: 0;
	padding: 0;
	width: 110px;
	}

/* FRONT PAGE
---------------------------------------------------------------------- */
.front #block-block-9 p.bryant { color: #FBFBDA; line-height: 100%; margin: 0; }
.front #block-block-9 p.united { margin: 8px 0 24px 0;}
.front #header {
  background: transparent url(i/cafeman-header-2014.png) center -30px no-repeat;
  height: 580px;
  width: 100%;
  }
.front #kids {
  background: white url(i/kids.jpg) center center repeat-x scroll;
  border: 4px solid black;
  height: 160px;
  margin-bottom: 30px;
  overflow: hidden;
  text-indent: -99999px;
  /**/
  position: relative;
  top: 0px;
  }  

.front #content .section { padding-top: 0; }
.front p { margin-top: 0; }
.front #block-views-screenings-block_1 h2.title,
.node-type-event #block-views-screenings-block_1 h2.title {
  color: #FBFBDA;
  font-family: 'BryantBold', helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;  
  }
.front #block-views-screenings-block_1 div.views-row,
.node-type-event #block-views-screenings-block_1 div.views-row {
  display: block;
  margin: 20px 0 !important;
  }
.front #block-views-screenings-block_1 div.views-row span.date-display-single,
.node-type-event #block-views-screenings-block_1 div.views-row span.date-display-single {
  display: block;
  /*margin-bottom: 10px;*/
  }
div.quote {
  font-size: 133%;
  line-height: 150%;
  text-indent: -7px;
  }  
div.quote p.byline {
  color: #FBFBDA;
  font-family: 'BryantBold', helvetica, arial, sans-serif;
  font-size: 75%;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-transform: uppercase;  
  }
.region-sidebar-second a, div#block-views-screenings-block_1 div.view-screenings div.views-field-title a {
  color: #FBFBDA;
  text-decoration: none;
  }  
.region-sidebar-second a:hover, div#block-views-screenings-block_1 div.view-screenings div.views-field-title a:hover {
  border-bottom: 1px solid #E7002D;
  color: #E7002D;
  padding-bottom: 1px;
  }  

/* CONTACT PAGE
---------------------------------------------------------------------- */
.page-contact input.form-text {
  width: 95.5%;
  }

/* SCREENINGS PAGE
---------------------------------------------------------------------- */
.page-screenings .view-screenings div.views-row {
  margin-bottom: 2em;
}
.page-screenings .view-screenings div.views-row .views-field-field-edt-value {
  margin-bottom: .5em;
}
.page-screenings .region-content-bottom {
  border-top: 1px solid #FBFBDA;
  margin: 50px 0 0 0;
}

.page-screenings .region-content-bottom #block-views-screenings-block_2 {
  padding-top: 20px;
}

.page-screenings .region-content-bottom #block-views-screenings-block_2 h2.title {
  color: #FBFBDA;
  font-family: 'BryantBold', helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.page-screenings div.views-field-field-edt-value {
  font-family: inherit;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: uppercase;
  }
  
.page-screenings .region-content-bottom #block-views-screenings-block_2 div.views-row {
  margin-bottom: 1em;
}
.page-screenings .region-content-bottom #block-views-screenings-block_2 div.views-row .views-field-field-edt-value {
  margin-bottom: 0;
}

/* individual SCREENINGS PAGEs
---------------------------------------------------------------------- */
.node-type-event .region-sidebar-second {
  background: black;
}

.node-type-event .region-sidebar-second .section {
  padding: 20px 10px 20px 0;
}

div.node.node-type-event div.field-type-date {
  margin-bottom: 20px;
}

div.node.node-type-event div.field-type-link {
  margin-bottom: 10px;
}

/* PHOTO GALLERY
---------------------------------------------------------------------- */
.view-Galleries ul { margin: 0; padding: 0; }
.view-Galleries ul li { display: inline-block; margin: 0; padding: 0; }
.view-Galleries ul li img { height: auto; width: 108px; }

/* COMPLETE CONTENT LIST FOR EDITORS + FILE ATTACHMENT TABLE
---------------------------------------------------------------------- */
.view-content table {width: 100%;}
.view-content table tr { background: transparent; }
.view-content table tr td { background: transparent; padding: 4px; }
.view-content table tr td.active { background: transparent; background: rgba(251,251,218,.25); }
.view-content table tr.odd { background: rgba(240,240,240,.25); }
.view-content table tr.odd td.active { background: transparent; background: rgba(251,251,218,.33); }

table#attachments {width: 100%;}
table#attachments tr { background: transparent; }
table#attachments tr td { background: transparent; padding: 4px; }
table#attachments tr.odd { background: rgba(240,240,240,.25); }

/* OOKB link Styles */
#block-block-13 {
  clear: both;
  float: right;
  opacity: .75;
  padding: 3em 0 1em 0;
  text-align: right;
  }

#block-block-13:hover {opacity: 1;}

#block-block-13 p {
  color: #848478;
  padding-top: -10px;
  font-size: 75%;
  text-transform: uppercase;
  }

#block-block-13 p img {
  margin: 10px 0 -7px 0;  
  width: 24px;
  }


/* Special Announcement Block below Navigation */
#anouncement {
  color: #FDFAD9;
  background: #66AA35;
  max-height: 235px;
  overflow: hidden;
  width: 235px;
  /**/
  position: absolute;
  top: 284px;
  left: 50%;
  margin-left: -500px;
  z-index: 9;
}

#anouncement .region-anouncement #block-block-17,
#anouncement .region-anouncement #block-block-17 .content p {
  margin: 0;
  padding: 0;
}

#anouncement .region-anouncement #block-block-17 .content {
  padding: 20px 12.5px;
  font-family: 'BryantBold', helvetica, arial, sans-serif;
  font-size: 110%;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
}


/* MEDIA QUERIES
---------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
#logo /* Wrapping link for logo */ {
  min-width: 471px;
  width: auto;
  /**/
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  }
}

/* Misc. Final Hacks and Tweaks
---------------------------------------------------------------------- */
/* admin table fix */
.section-admin table tr.draggable {
  color: black;
  }
/* display: none; tricks */
div.description.mollom-privacy,
.page-trailer h1.title 
{ display: none; }  
  
.node-unpublished {
  background-color: transparent;
}

.node-unpublished div.unpublished, .comment-unpublished div.unpublished {
  opacity: .25;
}

#blocks td a {
  background: transparent;
  color: darkgray;
}

/* New Footer Styles
---------------------------------------------------------------------- */

.region-footer {
  margin: 0 -15px;
}

.block.quarter {
  width: 25%;
}

.block.columns {
  float: left;
}

.columns .content {
  padding: 0 15px;
  text-align: left;
}