/* @override 
	http://cafeteriaman.com/sites/all/themes/cafemanblack/css/navigation.css?f
	http://cafeteriaman.com/sites/all/themes/cafemanblack/css/navigation.css?5
*/

/* $Id: navigation.css,v 1.5 2009/11/04 19:42:41 johnalbin Exp $ */

/**
 * @file
 * Navigation Styling
 */

/* The Page GRID */
/*
 1 column { width:   65px; }
 2 column { width:  150px; }
 3 column { width:  235px; }
 4 column { width:  320px; }
 5 column { width:  405px; }
 6 column { width:  490px; }
 7 column { width:  575px; }
 8 column { width:  660px; }
 9 column { width:  745px; }
10 column { width:  830px; }
11 column { width:  915px; }
12 column { width: 1000px; }
*/

/*
 * The active item in a Drupal menu
 */
li a.active { color: #000; text-decoration: line-through; }

/*
 * Navigation bar
 */
#navigation { }
.region-navigation { }

/*
 * Primary and Secondary menu links
 */
#main-menu { }
#secondary-menu { }

/*
 * Menu blocks
 */
.block-menu { }

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block { }

/* drop down and flyout menu stuff */
#primary {
  width: 235px;
  /**/
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -500px;
  z-index: 9;
  }
#primary ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9;
  }
#primary li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 235px;
  z-index: 9;
  }
#primary > ul > li {
  background: rgb(237,28,36);
  margin-bottom: 15px;
  text-align: right;
  }  

#primary > ul > li.leaf {
  background: rgb(102,170,34);
  text-align: center;
  border-radius: 20px;
  font-size: 75%;
  width: 85%;
  margin: 5px auto;
}

#primary ul li.expanded > ul {
  background: black;
  display: none;
  font-size: 65%;
  padding: 2px 0 ;
  position: absolute;
  top: -4px;
  left: 233px;
  width: 235px;
  z-index: 10;
  }
#primary ul li.expanded > ul li { border-bottom: 1px solid gray; margin: 1px 5px 0px 5px; padding: 0 0 1px 0; }
#primary ul li.expanded > ul li.last { border-bottom: none; }
#primary ul li.expanded:hover > ul, li.over > ul { display: block; }

#primary a {
  color: #FBFBDA;
  display: block;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: none;
  }
#primary > ul > li > a {
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 7px 10px;
  text-transform: uppercase;
  text-decoration: none;
  }
  
#primary ul li.leaf > a { letter-spacing: 1px; padding: 7px 10px; } 
#primary ul li.expanded li.leaf > a:hover { color: white; text-decoration: underline; } 
#primary > ul > li.leaf a:hover {
  color:#F0E030;
}

@media screen and (max-width: 1000px) {
#primary {
  width: 235px;
  /**/
  position: absolute;
  top: 140px;
  left: 0;
  margin-left: 0;
  z-index: 9;
  }
}

  
/* customized by Kristian Bjornard */  